/* 
		Code couleurs 
bkg foncé, textes : #23262a
bkg bleu : #e4edf2
bleu actif, textes : #5d8398
texte sur bkg foncé : #616973
texte actif sur bkg foncé : #b3bfc5
orange : #cf4c29
texte sur bleu actif : #6f8896
textes gris : #7a7a7a 
*/


@font-face {
    font-family: 'allerregular';
    src: url('../font/aller_rg-webfont.eot');
    src: url('../font/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_rg-webfont.woff') format('woff'),
         url('../font/aller_rg-webfont.ttf') format('truetype'),
         url('../font/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'allerregular';
    src: url('../font/aller_std_bd-webfont.eot');
    src: url('../font/aller_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_std_bd-webfont.woff') format('woff'),
         url('../font/aller_std_bd-webfont.ttf') format('truetype'),
         url('../font/aller_std_bd-webfont.svg#allerbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

body{font-family:'allerregular',arial,verdana, sans-serif; font-size:10pt; background:#e4edf2}
.content{width:940px;margin:0 auto}

header{background: #23262a; height: 70px; }
header .logo{background:url('../img/logo.png') no-repeat; width:230px; height:70px; float:left}
header .profil{float:left; width:210px; border-left:1px solid #434850; border-right:1px solid #434850; height:40px; padding: 15px 15px 15px 17px; color:#b3bfc5;}
header .profil img{border:2px solid #e4edf2; float:left; width:36px; height:36px; margin-right:10px;}
header .profil .status{text-transform:uppercase; font-size:9pt; color:#727c88; margin-top:10px; float:left}
header .profil .status .statusDisponible{background:url('../img/online.png') no-repeat 0 0; width:10px; height:10px; float:left; margin-right:10px }
header .profil .profilModify{background:url('../img/open.png') no-repeat; width:15px; height:9px;float:right; margin-top:10px}
header .subnav{padding-top:37px; float:left}
header .subnav li{display:inline; text-transform:uppercase; color:#616973; padding-left:10px; font-weight:bold}
header .subnav li:before{content:'|'; padding-right:10px}
header .subnav li:first-child{padding-left:0px}
header .subnav li:first-child:before{content:''}
header .subnav li a{color:#616973; text-decoration:none}
header .subnav li a:hover{color:#b3bfc5}
header .lang{float:right; padding-top:37px}
header .lang li{display:inline; padding-left:3px; color:#616973; font-weight:bold}
header .lang li:before{content:'|'; padding-right:6px;}
header .lang li:first-child:before{content:''}
header .lang li a{color:#616973; text-decoration:none}
header .lang li a.selected, header .lang li a:hover{color:#b3bfc5}

.dialer{height:60px; margin-top:20px; position:relative}
.dialer .number{background:url('../img/dialer.png') no-repeat top right; position:absolute; top:1px; left:377px; width:33px; height:37px;}
aside{float:left; width:230px; background:#23262a; min-height:550px; }
.wrapper{background:#fff; min-height:550px}


.dialer input{height:36px;padding:0px; outline:none; vertical-align: middle; margin-right:5px; text-transform:uppercase; line-height:36px}
.dialer input[type='text']{border:1px solid #929fa5; background-color:#fff; width:390px; padding-left:20px; color:#929fa5;}
.dialer input[type='button']{border:0px; padding:0px 20px 0px 40px; color:#fff; height:38px}

.dialer input.call{background:url('../img/call.png') 0 0 #cf4c29 no-repeat; }
.dialer input.chat{background:url('../img/chat.png') 0 0 #cf4c29 no-repeat; }
.dialer input[type='button']:hover{background-color:#d97459; cursor:pointer}

.ringtone{float:right; color:#5d8398; text-transform:uppercase;}
.ringtone .ringtonePicto{background:url('../img/ringtone.png'); width:8px; height:13px; margin-right:5px;margin-top:12px; float:left;}
.ringtone input{background:#ffffff; height:40px; color:#ffffff;border:0px; text-transform:uppercase; color:#8c949f; width:50px; text-align:center;}
.ringtone input:hover{background:#8eaaba; cursor:pointer; color:#ffffff}
.ringtone .on{margin-left:15px;}
.ringtone input.selected{background:#5d8398; color:#ffffff}

aside nav li{border-top:1px solid #434850}
aside nav li:first-child, aside nav li li{border-top:0px;}

aside nav li a{color:#616973; text-decoration:none; text-transform:uppercase; padding:20px; display:block; border-left:4px solid #23262a; font-weight:bold}
aside nav li span.menu{color:#616973; text-decoration:none; text-transform:uppercase; padding:24px; display:block; margin-bottom:-10px }
aside nav li li a{padding:5px 20px}
aside nav li ul{margin-bottom:10px}
aside nav li span.numberMessage{padding:0; display:inline-block; padding-left:10px; background:url('../img/numberMessage.png') no-repeat 7px 2px; line-height:15pt; color:#23262b; font-size:9pt; width:30px; height:16px;}
aside nav li a.selected:before{content:url('../img/closeContact.png'); float:right}

aside nav li a:hover, aside nav li a.selected{color:#ffffff; border-left:4px solid #cf4c29;background-color:#34393f}
aside nav li .play{background-image:url('../img/play.png');  width:9px; height:9px; float:left; margin-right:7px; margin-top:1px}
aside nav li .pause{background-image:url('../img/pause.png'); width:7px; height:9px;float:left; margin-right:7px; margin-top:1px}
aside nav li a:hover .play, aside nav li a.selected .play{background-image:url('../img/playHover.png')}
aside nav li a:hover .pause, aside nav li a.selected .pause{background-image:url('../img/pauseHover.png')}

