<div class="call">
	<div class="video">
		<img src="tmp/paul-big.jpg" class="contactImg" alt="">
		<div class="profile">
			<img src="tmp/profile-big.jpg" class="profileImg" alt="">
			<div class="profileActions">
				<div class="button-group">
					<div class="button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
					Avoid issue with inline block in dev mode
					--><div class="button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
				</div>
			</div>
		</div>
	</div>
	<script id="linphone.ui.view.call.actions" type="text/x-handlebars-template">
		<img src="tmp/signal.png" alt="" class="floatLeft"><!--
		Avoid issue with inline block in dev mode
		--><div class="button pause buttonPause"><div class="image imagePause"></div><div class="text" data-i18n="content.view.call.pause"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="buttonSelectDescription"><div class="image imageVideo"></div><div class="text" data-i18n="content.view.call.video"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="videoEnabled button-group">
			<div class="on button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="off button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
		</div><!--
		Avoid issue with inline block in dev mode
		--><div class="buttonSelectDescription"><div class="image imageMicro"></div><div class="text" data-i18n="content.view.call.micro"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="muteEnabled button-group">
			<div class="on button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="off button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
		</div><!--
		Avoid issue with inline block in dev mode
		--><div class="floatRight"><div class="button conference"><div class="image imageConfAdd"></div><div class="text" data-i18n="content.view.call.conference"></div></div></div>
	</script>
	<div class="actions">
	</div>
</div>