<div class="call">
	<div class="video">
		<div class="content">
		</div>
		<div class="profile">
			<div class="content">
			</div>
			<div class="resize">
				<div class="collapse image imageCollapse"></div>
				<div class="expand image imageExpand"></div>
			</div>
		</div>
	</div>
	<script id="linphone.ui.view.call.actions" type="text/x-handlebars-template">
		<img src="tmp/signal.png" alt="" class="floatLeft callSignal"><!--
		Avoid issue with inline block in dev mode
		--><div class="buttonSelectDescription floatLeft"><div class="image imageVideo"></div><div class="text" data-i18n="content.view.call.video"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="videoEnabled button-group floatLeft">
			<div class="on button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="off button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
		</div><!--
		Avoid issue with inline block in dev mode
		--><div class="buttonSelectDescription floatLeft"><div class="image imageMicro"></div><div class="text" data-i18n="content.view.call.micro"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="muteEnabled button-group floatLeft">
			<div class="on button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="off button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
		</div><!--
		Avoid issue with inline block in dev mode
		--><div class="button pause buttonPause"><div class="image imagePause"></div></div>
		<div class="button"><div class="image imageConfAdd"></div></div>
		<!--
		Avoid issue with inline block in dev mode
		--><div class="floatRight"><div class="button conference"><div class="image imageConfAdd"></div><div class="text" data-i18n="content.view.call.conference"></div></div></div>
	</script>
	<div class="actions">
	</div>
</div>