<div class="conference">
	<!-- a ajouter pour chaque contact en conf -->
	<div class="video">
		<div class="entry">	
			<img src="style/img/avatar.png" alt="" class="contactImg">
			<div class="padding">
			<div class="floatRight"><span class="imageStatusOnline"></span></div>
			<div class="contactName">George</div>
				<div class="actions">
					<div class="button buttonPause"><div class="image imagePause"></div></div><!--
					Avoid issue with inline block in dev mode
					--><div class="button buttonAction "><div class="image imageClose"></div></div><!--
					Avoid issue with inline block in dev mode
					--><div class="floatRight"><img src="style/img/signal0b.png" alt=""></div>
				</div>
			</div>
			<hr>
		</div>
		<!-- fin a ajouter -->
		<div class="profile">
			<img src="style/img/avatar.png" alt="" class="profileImg">
			<div class="profileActions">
				<div class="button-group">
					<div class="button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
					Avoid issue with inline block in dev mode
					--><div class="button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<img src="style/img/signal0b.png" alt="" class="floatLeft"><!--
		Avoid issue with inline block in dev mode
		--><div class="button pause buttonPause"><div class="image imagePause"></div><div class="text" data-i18n="content.view.conference.pause"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="buttonSelectDescription"><div class="image imageVideo"></div><div class="text" data-i18n="content.view.conference.video"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="button-group">
			<div class="button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
		</div><!--
		Avoid issue with inline block in dev mode
		--><div class="buttonSelectDescription"><div class="image imageMicro"></div><div class="text" data-i18n="content.view.conference.micro"></div></div><!--
		Avoid issue with inline block in dev mode
		--><div class="button-group">
			<div class="button buttonSelect"><div class="text" data-i18n="global.on"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="button buttonSelect"><div class="text" data-i18n="global.off"></div></div>
		</div><!--
		Avoid issue with inline block in dev mode
		--><div class="floatRight"><div class="button conference"><div class="image imageConfAdd"></div><div class="text" data-i18n="content.view.conference.conference"></div></div></div>
	</div>		
</div>
