<div class="contacts">
	<script id="linphone.ui.view.contacts.list.entry" type="text/x-handlebars-template">
		<div class="entry">
			<img src="{{context.object.img}}" alt="" class="contactImg" />
			<div class="contactName">{{LinphoneWeb-Call helpers.utils.getContactName context.object}}</div>
			<div class="button buttonAction goContact floatRight"><div class="image imageModify"></div></div>
			<div class="presence">
				<span class="{{LinphoneWeb-Call helpers.utils.getStatus context.address 'cls'}}"></span>
				<span class="contactStatus" data-i18n="global.status.{{LinphoneWeb-Call helpers.utils.getStatus context.address 'i18n'}}"></span>
			</div>
		
			<div class="addresses floatLeft">
				{{#each context.addressList}}
				<div class="address">
						<div class="callContact button"><div class="image imageCall"></div></div>
						<div class="button"><div class="image imageChat"></div></div>
					<div class="contactNumber">{{this}}</div>		
				</div>
				{{/each}}		
			</div>
			<hr />
		</div>
	</script>
	<div class="actions">
		<div class="filters button-group">
			<div class="all button buttonSelect"><div class="text" data-i18n="content.view.contacts.filter.all"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="online button buttonSelect"><div class="text" data-i18n="content.view.contacts.filter.online"></div></div>
		</div>
		<div class="floatRight"><div class="button buttonAction addContact"><div class="image imageContactAdd"></div><div class="text" data-i18n="content.view.contacts.add"></div></div></div>
		<hr>
	</div>
	<div class="list scroll-pane">
	</div>
</div>