<div class="contacts">
	<!-- @if env='debug' -->
	<script id="linphone.ui.view.contacts.list.entry" type="text/x-handlebars-template">
		<div class="entry">
			<img src="{{context.object.img}}" alt="" class="contactImg" />
			<span class="contactName"> {{context.object.firstname}} {{context.object.lastname}}</span><br>
			<span class="imageStatusOnline"></span>
			<span class="contactStatus">{{context.object.status}}</span><br />
			<span class="contactNumber">{{context.address}}<br /></span>
		
			<div class="actions">
				<div class="button buttonAction goContact"><div class="image imageModify"></div></div><!--
				Avoid issue with inline block in dev mode
				--><div class="callContact button"><div class="image imageCall"></div></div><!--
				Avoid issue with inline block in dev mode
				--><div class="button"><div class="image imageChat"></div></div>
			</div>
			<hr />
		</div>
	</script>
	<!-- @endif -->
	<div class="actions">
		<div class="filters button-group">
			<div class="all button buttonSelect"><div class="text" data-i18n="content.view.contacts.filter.all"></div></div><!--
			Avoid issue with inline block in dev mode
			--><div class="online button buttonSelect"><div class="text" data-i18n="content.view.contacts.filter.online"></div></div>
		</div>
		<div class="floatRight"><div class="button buttonAction addContact"><div class="image imageContactAdd"></div><div class="text" data-i18n="content.view.contacts.add"></div></div></div>
		<hr>
	</div>
	<div class="list scroll-pane">
	</div>
</div>