/* 
 *
 * Main
 *
 */
.linphone .core {
	visibility: hidden;
}

.linphone .window {
	border: 1px solid black;
	width: 200px;
	position: relative;
	overflow: hidden;
}

/* 
 *
 * Overall divs
 *
 */
.linphone .window .overall {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #FFFFFF;
	z-index: 9000;
	padding: 5px;
}

.linphone .window .error {
	z-index: 9999;
	text-align: center;
	display: none;
}

.linphone .window .install {
	z-index: 9998;
	text-align: center;
}

.linphone .window .install .unavailable {
	display: none;
}

.linphone .window .load {
	z-index: 9997;
	display: none;
}

.linphone .window .javascript {
	text-align: center;
	z-index: 10000;
}

/* 
 *
 * Default behaviour
 *
 */
.linphone .window .ui-button {
	padding: .4em 1em;
}

.linphone .window .tools .ui-icon {
	overflow: visible;
	text-indent: 0px;
}

/* 
 *
 * Window components
 *
 */
.linphone .window>.footer {
	border-top: 1px solid #BBBBDD;
	position: absolute;
	bottom: 0px;
	background-color: #DDDDFF;
	height: 20px;
	line-height: 20px;
	width: 100%;
}

.linphone .window>.footer>.status {
	font-size: 10px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.linphone .window>.footer>.tools {
	margin-top: 2px;
	margin-right: 5px;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
}

.linphone .window>.content {
	background-color: #FFFFFF;
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
}

.linphone .window>.header {
	border-bottom: 1px solid #6666DD;
	background: url("ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
	height: 26px;
	line-height: 30px;
	width: 100%;
}

.linphone .window .header .text {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 140%;
	font-weight: bold;
}

/* 
 *
 * Tabs stuff
 *
 */
.linphone .window .tabs {
	
}

.linphone .window .tabs a:focus {
	outline: 0px;
}

.linphone .window>.tabs .tab {
	height: 100%;
}

.linphone .window>.content>.ui-scrollable-tabs {
	height: 100%;
}

/* 
 *
 * Options default behaviour 
 *
 */
.linphone .window .options {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
	position: absolute;
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: auto;
	z-index: 100;
}

.linphone .window .options .content {
	height: 195px;
	margin: 0px;
	overflow: auto;
}

.linphone .window .options .content table {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.linphone .window .options .content table th {
	text-align: left;
}

.linphone .window .options .ui-dialog-titlebar {
	cursor: default;
	height: 15px;
}

/* 
 *
 * Menu default behaviour 
 *
 */
.linphone .ui-menu .ui-menu-item a {
	cursor: pointer;
}

.linphone .ui-menu .ui-menu-item a:focus {
	outline: 0px;
}