/* 
 *
 * About options 
 *
 */
.linphone .window .about-options .content {
	text-align: center;
}

.linphone .window .about-options .content div {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.linphone .window .about-options .content .logo {
	background-repeat: no-repeat;
	background-image: url('images/linphone.png');
	width: 64px;
	height: 64px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.linphone .window .about-options .content .title {
	font-size: 24px;
	font-weight: bold;
}

.linphone .window .about-options .content .copyright {
	margin-top: 20px;
	font-style: italic;
	font-size: 9px;
}