/* 
 *
 * Video
 *
 */
.linphone .ui-dialog-content.video {
	overflow: hidden !important;
}

.linphone>.ui-dialog>.video div {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.linphone>.ui-dialog>.video div object {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}