.linphoneweb > .content .popup > .outcall {
	background-color: rgb(35,38,42);
	background-color: rgba(35,38,42,0.8);
	width: 160px;
	position: absolute;
	left: 50%; 
	margin-left: -80px;
	top: 100px;
	padding: 10px;
	text-align: center;
}
.linphoneweb > .content .popup > .outcall .title {
	color: #b3bfc5;
	text-transform: uppercase;
	font-size: 9pt;
}
.linphoneweb > .content .popup > .outcall .contactImg {
	display: block;
	border: 5px solid #e4edf2;
	margin: 10px auto;
}
.linphoneweb > .content .popup > .outcall .contactName {
	color: #fff;
	font-size: 11pt;
}
.linphoneweb > .content .popup > .outcall .actions .callOff {
	background: #9f1212;
	width: 145px;
	height: 40px;
	margin: 20px auto 0;
}
.linphoneweb > .content .popup > .outcall .actions .callOff:hover {
	background: #c45a5a;
	cursor: pointer;
}
.linphoneweb > .content .popup > .outcall .actions .callOff .imageCallOff {
	margin-left: 50px;
}  