.linphoneweb > .content .view > .login {
	text-align: center;
}

.linphoneweb > .content .view > .login {
	background-color: rgb(228, 237, 242);
	overflow: auto;
	min-height: 550px;
}

.linphoneweb > .content .view > .login .logo {
	background-image: url('img/logoIcon.png');
	background-repeat: no-repeat;
	width: 260px;
	height: 100px;
	margin: 30px auto;
}
.linphoneweb > .content .view > .login .title {
	font-size: 18pt;
	margin-bottom: 20px;
}
.linphoneweb > .content .view > .login form input[type="text"], .linphoneweb > .content .view > .login form input[type="password"] {
	border: 1px solid #adbbc2;
	width: 400px;
	height: 40px;
	margin-bottom: 10px;
	padding: 0 15px;
	color: #222222;
}

.linphoneweb > .content .view > .login .watermark[type="text"] {
	color: #929fa5;
	text-transform: uppercase;
}

.linphoneweb > .content .view > .login .choice {
	text-align: left;
	margin: 0 auto 10px auto;
	width: 430px;
}
.linphoneweb > .content .view > .login .choice > span {
	float: left;
	width: 150px;
	text-transform: uppercase;
	color: #5d8398;
}
.linphoneweb > .content .view > .login input[type="checkbox"] {
	border: 1px solid #adbbc2;
}
.linphoneweb > .content .view > .login label {
	color: #5d8398;
	margin-right: 15px;
}
.linphoneweb > .content .view > .login .button {
	width: 430px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.linphoneweb > .content .view > .login .link {
	color: #cf4c29;
	text-transform: uppercase;
	margin-bottom: 10px;
	clear: both;
}
.linphoneweb > .content .view > .login .link:hover {
	cursor: pointer;
	color: #d97459;
}