.linphoneweb .view .conference {
	margin: 10px;
	position: relative;
	height: 530px;
}
.linphoneweb .view .conference .entry {
	width: 220px;
	background: #e4edf2;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.linphoneweb .view .conference .entry .contactName {
	margin-bottom: 5px;
}
.linphoneweb .view .conference .entry .statusOnline, .linphoneweb .view .conference .entry .statusBusy, .linphoneweb .view .conference .entry .statusAway {
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 5px;
	margin-top: 2px;
}
.linphoneweb .view .conference .profil {
	position: absolute;
	bottom: 50px;
	right: 0;
}
.linphoneweb .view .conference .profil .profilActions {
	position: absolute;
	bottom: 107px;
	right: 0;
}
.linphoneweb .view .conference .actions {
	margin-top: 8px;
	text-transform: uppercase;
	color: #5d8398;
	line-height: 40px;
	position: absolute;
	bottom: 2px;
	width: 100%;
}
.linphoneweb .view .conference .actions .btnPause+ .btnAction {
	margin-left: 2px;
}