.linphoneweb > .content .view > .help {
	width: 940px; /* All width */
}

.linphoneweb > .content .view > .help .actions {
	padding: 10px;
	height: 42px;
	border-bottom: 1px solid #e4edf2;
}

.linphoneweb > .content .view > .help .actions .title {
	font-size: 15pt;
	float: left;
	margin-top: 10px;
}