.linphoneweb > .header {
	background: #23262a;
	height: 70px;
}

.linphoneweb > .header > .content {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.linphoneweb .header .logo {
	background-image: url('img/logo.png');
	background-repeat: no-repeat;
	width: 230px;
	height: 70px;
	float: left;
}

.linphoneweb .header .profile {
	float: left;
	width: 210px;
	border-left: 1px solid #434850;
	border-right: 1px solid #434850;
	height: 40px;
	padding: 15px 15px 15px 17px;
	color: #b3bfc5;
	position: relative;
	visibility: hidden;
}

.linphoneweb .header .highlight {
	background-color: #2f3338;
}

.linphoneweb .header .profile img {
	border: 2px solid #e4edf2;
	float: left;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.linphoneweb .header .profile .identity{
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 160px;
	white-space: nowrap;
}

.linphoneweb .header .profile .status {
	text-transform: uppercase;
	font-size: 9pt;
	color: #727c88;
	margin-top: 10px;
	display: inline-block;
	width: 140px;
}

.linphoneweb .header .profile .status .text {
	display: block;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.linphoneweb .header .profile .image {
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 10px;
}

/* */
.linphoneweb .header .profile .open {
	background-image: url('img/statusOpen.png');
	background-repeat: no-repeat;
	width: 15px;
	height: 9px;
	float: right;
	margin-top: 10px;
}
.linphoneweb .header .profile .open:hover {
	background-image: url('img/statusClose.png');
	background-repeat: no-repeat;
	width: 15px;
	height: 9px;
	cursor: pointer;
}
.linphoneweb .header .profile.highlight .open {
	background-image: url('img/statusClose.png');
	background-repeat: no-repeat;
	width: 15px;
	height: 9px;
}

.linphoneweb .header .profile .menu {
	background: #23262a;
	position: absolute;
	top: 70px;
	z-index: 400;
	right: 0;
	width: 185px;
	padding: 13px 0 0 0;
	display: none;
}
.linphoneweb .header .profile .menu ul {
	margin-left: 10px;
}
.linphoneweb .header .profile .menu li {
	margin-bottom: 10px;
	color: #616973;
	text-transform: uppercase;
	font-size: 9pt;
}
.linphoneweb .header .profile .menu li:hover {
	color: #fff;
	cursor: pointer;
}

.linphoneweb .header .profile .menu .logout {
	border-top: 1px solid #2f3338;
	color: #616973;
	text-transform: uppercase;
	padding: 13px 10px;
	font-size: 9pt;
}
.linphoneweb .header .profile .menu .logout:hover {
	color: #fff;
	cursor: pointer;
}
.linphoneweb .header .profile .menu .logout .imageLogout {
	background: url('img/logout.png') no-repeat;
	width: 10px;
	height: 11px;
	margin-top: 1px;
}

.linphoneweb .header .navigation {
	padding-top: 37px;
	height: 33px;
	visibility: hidden;
	width: 350px;
	overflow: hidden;
	float: left;
}
.linphoneweb .header .navigation li {
	display: inline;
	text-transform: uppercase;
	color: #616973;
	padding-left: 10px;
	font-weight: bold;
}
.linphoneweb .header .navigation li:hover {
	color: #b3bfc5;
	cursor: pointer;
}

.linphoneweb .header .navigation .disabled {
	color: #313943;
	cursor: default;
}
.linphoneweb .header .navigation .disabled:hover {
	color: #313943;
	cursor: default;
}

.linphoneweb .header .navigation li:before {
	content: '|';
	padding-right: 10px;
}
.linphoneweb .header .navigation li:hover:before {
	color: #616973;
}
.linphoneweb .header .navigation li:first-child {
	padding-left: 0;
}
.linphoneweb .header .navigation li:first-child:before {
	content: '';
}

.linphoneweb .header .language {
	padding-top: 37px;
	height: 33px;
	width: 116px;
	float: left;
}
.linphoneweb .header .language li {
	display: inline;
	padding-left: 4px;
	color: #616973;
	font-weight: bold;
}
.linphoneweb .header .language .selected {
	color: #b3bfc5;
}
.linphoneweb .header .language li:before {
	content: '|';
	padding-right: 5px;
	color: #616973;
}
.linphoneweb .header .language li:first-child:before {
	content: '';
}
.linphoneweb .header .language li:hover {
	color: #b3bfc5;
	cursor: pointer;
}
.linphoneweb .header .language li:hover:before {
	color: #616973;
}