.linphoneweb .view .about .actions {
	padding: 10px 10px 1px 10px;
	float: right;
}
.linphoneweb .view .about .entry {
	clear: both;
	border-top: 1px solid #e4edf2;
	padding: 10px;
	text-align: center;
}
.linphoneweb .view .about .entry .logoBig {
	background: url('img/logoBig.png');
	width: 401px;
	height: 67px;
	margin: 30px auto;
}