.linphoneweb .view .plugin {
	text-align: center;
}
.linphoneweb .view .plugin .logo {
	background-image: url('img/logoPicto.png');
	background-repeat: no-repeat;
	width: 260px;
	height: 100px;
	margin: 30px auto;
}
.linphoneweb .view .plugin .title {
	font-size: 18pt;
	margin-bottom: 20px;
}
.linphoneweb .view .plugin .text {
	width: 300px;
	margin: 0 auto 20px;
}
.linphoneweb .view .plugin .action {
	display: inline-block;
}