.linphoneweb > .content .view > .chat {
	position: relative;
	height: 550px
}
.linphoneweb > .content .view > .chat .entryReceive, .linphoneweb > .content .view > .chat .entrySend {
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #e4edf2;
	clear: both
}
.linphoneweb > .content .view > .chat .entryReceive .contactImg, .linphoneweb > .content .view > .chat .entrySend .contactImg {
	border: 5px solid #e4edf2;
}
.linphoneweb > .content .view > .chat .entryReceive .contactImg {
	float: left;
	margin-right: 10px
}
.linphoneweb > .content .view > .chat .entrySend .contactImg {
	float: right;
	margin-left: 10px
}
.linphoneweb > .content .view > .chat .entryReceive .infos, .linphoneweb > .content .view > .chat .entrySend .infos {
	float: left;
	width: 600px;
	margin-top: 10px
}
.linphoneweb > .content .view > .chat .infos .contactName {
	color: #5d8398;
}
.linphoneweb > .content .view > .chat .infos .date {
	color: #5d8398;
	float: right;
}
.linphoneweb > .content .view > .chat .infos .message {
	font-size: 11pt;
	line-height: 14pt;
	margin-top: 10px;
}
.linphoneweb > .content .view > .chat .actions {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding-left: 10px;
}
.linphoneweb > .content .view > .chat .messageToSend {
	border: 1px solid #adbbc2;
	height: 80px;
	margin-bottom: 20px;
	padding-left: 10px;
	margin-right: 10px;
	font-size: 11pt;
	line-height: 14pt;
}
.linphoneweb > .content .view > .chat .scroll-pane {
	width: 710px;
	height: 360px;
	border-bottom: 1px solid #e4edf2;
}
.linphoneweb > .content .view > .chat .scroll-content {
	width: 700px;
}
.linphoneweb > .content .view > .chat .messageToSend .scroll-pane {
	width: 670px;
	height: 80px;
}
.linphoneweb > .content .view > .chat .messageToSend .scroll-content {
	width: 650px;
}