.linphoneweb > .content .view > .conference {
	margin: 10px;
	width: 690px;
	height: 530px;
}
.linphoneweb > .content .view > .conference .entry {
	width: 220px;
	background: #e4edf2;
	margin-right: 20px;
	margin-bottom: 10px;
}
.linphoneweb > .content .view > .conference .entry .contactName {
	margin-bottom: 5px;
}
.linphoneweb > .content .view > .conference .entry .imageStatusOnline, .linphoneweb > .content .view > .conference .entry .imageStatusBusy, .linphoneweb > .content .view > .conference .entry .imageStatusAway {
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	margin-top: 2px;
}

.linphoneweb > .content .view > .conference .video {
	position: absolute;
	top: 0;
	bottom: 48px;
	width: 100%;
}

.linphoneweb > .content .view > .conference .video .profile {
	position: absolute;
	bottom: 0;
	right: 0;
}
.linphoneweb > .content .view > .conference .video .profile .profileActions {
	position: absolute;
	top: 0;
	right: 0;
}
.linphoneweb > .content .view > .conference .actions {
	text-transform: uppercase;
	color: #5d8398;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	display:inline-block;
	width: 100%;
}

.linphoneweb > .content .view > .conference .actions div {
	display:inline-block;
}

.linphoneweb > .content .view > .conference .actions .pause {
	margin-left: 15px;
}