.linphoneweb > .content .view > .error {
	text-align: center;
	background-color: rgb(228, 237, 242);
	overflow: auto;
	padding: 30px;
	width: 890px;
}
.linphoneweb > .content .view > .error .title {
	color: #b3bfc5;
	text-transform: uppercase;
	font-size: 9pt;
}
.linphoneweb > .content .view > .error .imgError {
	background-image: url('img/error.png');
	width: 40px;
	height: 40px;
	margin: 10px auto 15px;
}
.linphoneweb > .content .view > .error img {
	display: block;
	border: 5px solid #e4edf2;
	margin: 10px auto;
}
.linphoneweb > .content .view > .error .message {
	color: #000;
	font-size: 12pt;
	line-height: 14pt;
	margin-bottom: 20px;
}
.linphoneweb > .content .view > .error .button {
	float: inherit;
	width: auto;
}   