.linphoneweb .popup .error {
	background-color: rgb(35,38,42);
	background-color: rgba(35,38,42,0.85);
	width: 160px;
	position: absolute;
	left: 50%; 
	margin-left: -80px;
	top: 100px;
	padding: 10px;
	text-align: center;
}
.linphoneweb .popup .error .title {
	color: #b3bfc5;
	text-transform: uppercase;
	font-size: 9pt;
}
.linphoneweb .popup .error .imgError {
	background-image: url('img/error.png');
	width: 40px;
	height: 40px;
	margin: 10px auto 15px;
}
.linphoneweb .popup .error img {
	display: block;
	border: 5px solid #e4edf2;
	margin: 10px auto;
}
.linphoneweb .popup .error .message {
	color: #fff;
	font-size: 12pt;
	line-height: 14pt;
	margin-bottom: 20px;
}
.linphoneweb .popup .error .button {
	float: inherit;
	width: auto;
}   