.linphoneweb .view .call {
	margin: 10px;
	position: relative;
}
.linphoneweb .view .call .profil {
	position: absolute;
	bottom: 0;
	right: 0
}
.linphoneweb .view .call .profil .profilActions {
	position: absolute;
	bottom: 107px;
	right: 0
}
.linphoneweb .view .call .actions {
	margin-top: 8px;
	text-transform: uppercase;
	color: #5d8398;
	line-height: 40px
}
